@import "reset.css";
@import "status-bar.css";
@import "variables.css";
@import "login.css";
@import "nav-bar.css";
@import "screen-header.css";
@import "friends.css";
@import "user-component.css";
@import "badge.css";
@import "find.css";
@import "icon-row.css";
@import "more.css";
@import "alt-screen-header.css";
@import "settings.css";
@import "chat.css";



body{
     color:#2e363e;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main-screen{
    padding:0px var(--horizontal-space)
}

