body{
    
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif; */
    background-image: url(drink.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-image: center;
    width: 100%;
    
 }

.title-mini{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    opacity: 0.8;
    font-size: 800px;
    margin-top: 10px;
    margin-bottom: 20px;
}

 .container{
    border: 10px solid white;
    background-color: rgba(247, 243, 242, 0.7);
    border-radius: 20px;
    justify-content: center;
    text-align: center;
    padding: 100px;
    align-items: center;
}

.main-img{
    margin-bottom: 20px;
}
    
.chance-part{
    font-size: 20px;
    font-weight: bold;
}

#result-part{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#user-input{
    width: 300px;
}


.form-control {
    height: 80px;
}

 .numbertab{
    display: block;
    width: 100%;
    align-items: center;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    text-align: center;
    margin: 30px;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem; 
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

 
.button-style{
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 100px;
    width: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 50px;
    font-size: 15px;

}



@media screen and (max-width: 48rem) {
    .title{
        font-size: 20px;
        font-weight: bold;
    }

    .title-mini{
        font-size: 10px;
        font-weight: bold;
    }


    .chance-part{
        font-size: 15px;
        margin-top: 10px;
        font-weight: bold;
        
    }

    .result-part{
        font-size: small;
    }
    .main-img {
        width: 50vw;
      }
    
    .button-style{
        font-size: 10px;
    }
   
    .numbertab{
        align-items: center;
        text-align: center;
    }
    

     
}
 